src/main/mule/demos/rest/demo-05.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="demo-05-flow" doc:id="faeb66e1-f363-4887-9ace-86da91204aa8" >
		<set-variable value="#[attributes.uriParams.id]" doc:name="Id" doc:id="55057cae-c1be-43ef-98f8-43f7c005599d" variableName="id"/>
		<flow-ref doc:name="Login" doc:id="a5eb0cdc-ca0c-493b-9538-461f999e46cd" name="demo-01-rest-flow" target="sfdc_token" targetValue="#[payload.access_token]"/>
		<http:request method="GET" doc:name="Consulta REST" doc:id="74c0b39a-3390-4efc-8b7e-b75ee4078ddc" config-ref="SFDC_ENDPOINT" path="/services/apexrest/courseMulesoft">
			<http:headers ><![CDATA[#[{
	Authorization: "Bearer " ++ vars.sfdc_token as String
}]]]></http:headers>
			<http:query-params ><![CDATA[#[{
	id: vars.id
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="dba93619-ddb0-43dc-8e77-9ccd23c9590e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
