src/main/mule/demos/rest/demo-01.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="demo-01-rest-flow"
		doc:id="bbcfa9a0-5609-44b5-aa7f-8a30a642cbf7">
		<ee:transform doc:name="Build Object Login"
			doc:id="10f84945-9c00-4f6d-b206-d842fd22ce2c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	grant_type: "password",
	client_id: p("sfdc.auth.client_id"),
	client_secret: p("sfdc.auth.client_secret"),
	username: p("sfdc.auth.username"),
	password: p("sfdc.auth.password") ++ p("sfdc.auth.security_token")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request SFDC REST"
			doc:id="e8724077-b839-42d1-b089-1b9266202a76"
			config-ref="SFDC_AUTH" path="/services/oauth2/token">
			<http:body><![CDATA[#[{}]]]></http:body>
			<http:query-params><![CDATA[#[payload]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message"
			doc:id="736ad7d5-cd59-46e6-a644-ca38f15ebd6f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	access_token: payload.access_token
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="demo-01-soap-flow"
		doc:id="62864704-c4b7-4cc3-8dce-146ed567b251">
		<ee:transform doc:name="Transform Message"
			doc:id="8f85bace-690b-4509-9d7e-81625c697dc9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/xml
ns n1 urn:partner.soap.sforce.com
ns env http://schemas.xmlsoap.org/soap/envelope/
---
env#Envelope: {
    env#Body: {
        n1#login: {
            n1#username: p('sfdc.auth.username'),
            n1#password: p('sfdc.auth.password') ++ p('sfdc.auth.security_token')
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request SFDC SOAP"
			doc:id="b83a68ee-5c88-46c4-846a-591a541172b0"
			config-ref="SFDC_AUTH" path="/services/Soap/u/50.0">
			<http:headers><![CDATA[#[{
	SOAPAction: "login",
	"Content-Type": "text/xml"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message"
			doc:id="526c5864-8c4d-428e-b4ee-f3610260a342">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	access_token: payload.Envelope.Body.loginResponse.result.sessionId
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
