src/main/mule/demos/component/cdemo-05.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="cdemo-05Flow" doc:id="bde71244-039f-44b3-bcd1-8591d49eab5c" >
		<set-variable value="#[attributes.uriParams.id]" doc:name="id" doc:id="f7f54879-3006-4480-ada0-6adb44e7a913" variableName="id"/>
		<salesforce:invoke-apex-rest-method doc:name="Invoke apex rest method" doc:id="664fd437-48fc-4828-b69b-7b03d4f844a5" config-ref="Salesforce_Config" className="CourseMulesoft" methodName="getAccont^/courseMulesoft^HttpGet^LIST&lt;Account&gt;">
			<salesforce:request ><![CDATA[#[{
	queryParams: {
		id: vars.id
	}
}]]]></salesforce:request>
		</salesforce:invoke-apex-rest-method>
		<ee:transform doc:name="Transform Message" doc:id="f427c671-8cca-4c77-87d1-c6d3b26a1d00">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.getAccontOutput[0] - "attributes"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
